---
interface Props {
  link: string
}

const { link } = Astro.props
---

<a href={link} target="_blank" class="group grid place-content-center">
  <button class="group flex h-10 items-center gap-2 rounded-full bg-neutral-200 pl-3 pr-4 transition-all duration-300 ease-in-out hover:bg-black hover:pl-2 hover:text-white active:bg-neutral-700">
    <span class="rounded-full bg-black p-1 text-sm transition-colors duration-300 group-hover:bg-white">
      <svg class="-translate-x-[200%] text-[0px] transition-all duration-300 group-hover:translate-x-0 group-hover:text-lg group-hover:text-black group-active:-rotate-45" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
      </svg>
    </span>
    <span class="text-black group-hover:text-white transition-all duration-300"><slot /></span>
  </button>
</a>
